body{background-color: rgb(182, 210, 252);}
body{background-image: linear-gradient(to direçãoDoGradiente, PrimeiraCordoGradiente, SegundaCorDoGradiente);}
body{text-align: center;}
footer{text-align: left;}
body{font-family:cursive,Zapf-Chancery}
body{font: size 30px;}
footer{text-align: ;}